<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Kumpulan Resep Masakan Indonesia" />
    <link rel="icon" href="./favicon.png" />
    <title>Rasa-IN</title>
  </head>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__brand">
        <h1>Rasa-IN</h1>
      </div>
      <div class="app-bar__menu">
        <button id="hamburgerButton" class="hamburger-icon">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        </button>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#">Beranda</a></li>
          <li><a href="#/resep">Resep</a></li>
          <li><a href="#/favorit">Favorit</a></li>
          <li><a href="#/artikel">Artikel</a></li>
          <li><a href="#tentang-kami">Tentang Kami</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent">
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-wrapper">
          <div class="footer-title">
            <h3>Rasa-IN</h3>
            <p>
              Temukan resep masakan nusantara yang beragam dan mudah diakses di
              Rasa-IN.
            </p>
          </div>
          <div class="footer-information">
            <div class="footer-information__item">
              <h4>Menu</h4>
              <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#/resep">Resep</a></li>
                <li><a href="#/favorit">Favorit</a></li>
                <li><a href="#/artikel">Artikel</a></li>
                <li><a href="#tentang-kami">Tentang Kami</a></li>
              </ul>
            </div>
            <div class="footer-information__item">
              <h4>Kontak</h4>
              <ul>
                <li>Tim Rasa-IN</li>
                <li>+62812233445</li>
                <li>Rasa-IN@gmail.com</li>
              </ul>
            </div>
            <div class="footer-information__item">
              <h4>Ikuti Kami</h4>
            </div>
          </div>
        </div>
        <p class="footer-copyright">copyright &copy 2023 - Rasa-IN</p>
      </div>
    </footer>
  </body>
</html>