@media screen and (min-width: 640px) {
  p {
    font-size: 1rem;
  }
  /* AppBar */

  .app-bar {
    padding: 1rem 2.5rem;
  }
  .app-bar__brand h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  /* End AppBar */

  /*main content  */
  main {
    gap: 5rem;
  }

  section {
    margin: 1.5rem 2.5rem;
  }

  .section-title {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  .page-title {
    font-size: 1.75rem;
  }

  .button-container {
    margin: auto;
    margin-top: 1.5rem;
  }

  .button-container .button {
    font-size: 1rem;
  }

  .button-container .button-large {
    width: 21rem;
  }

  .button-back {
    font-size: 1rem;
  }
  .button-back i {
    font-size: 1.25rem;
  }

  .filter {
    font-size: 1rem;
  }
  /* hero */
  .hero {
    margin: 1rem 1rem 3.5rem 1rem;
  }

  .hero-container {
    padding-top: 6rem;
    border-radius: 1rem;
  }
  .hero-text {
    max-width: 24rem;
    gap: 0.75rem;
  }

  .hero-text h1 {
    font-size: 2.25rem;
    line-height: 2.875rem;
  }

  .hero-text p {
    font-size: 1.25rem;
  }

  .search-container {
    width: 30rem;
    padding: 1.5rem;
  }

  .search-wrapper {
    flex-direction: row;
  }

  .search-container .button-container {
    margin-top: 0;
  }

  .search-container label {
    font-size: 1rem;
  }

  .search-input input {
    font-size: 1rem;
    padding: 0.8rem 2.5rem;
  }

  .search-input i {
    font-size: 1.25rem;
  }

  /* end hero */

  /* category */
  .category-container {
    margin: 1.5rem 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }

  .category__item {
    gap: 0.75rem;
  }

  .category__item-title {
    font-size: 1rem;
  }

  /* end category */

  /* new recipes */

  .new-recipes {
    gap: 1.5rem;
  }
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .new-recipes__item {
    flex-direction: column;
  }

  .new-recipes__item-image {
    aspect-ratio: 16/9;
    flex: unset;
  }

  .new-recipes__item-text {
    flex: unset;
  }

  .new-recipes__item-text h4 {
    font-size: 1.125rem;
  }

  .recipes-info__item {
    padding: 0.2rem 1rem;
    gap: 0.5rem;
    border-radius: 0.75rem;
  }

  .recipes-info__item i {
    font-size: 1.25rem;
  }

  .recipes-info__item p {
    font-size: 0.875rem;
  }

  /* end new recipes */

  /*article*/

  .article {
    gap: 1.5rem;
  }

  .article-container {
    gap: 1.25rem;
  }

  .article__item-text h4 {
    font-size: 1.125rem;
  }

  .article-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  /* article end */

  /* about-us */
  .about-us {
    gap: 1.5rem;
  }
  .about-us-galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .about-us-galery__item:nth-of-type(4),
  .about-us-galery__item:nth-of-type(6) {
    order: 2;
  }

  /* end about-us */

  /* end main content*/

  /* footer */
  .footer-container {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  }

  .footer-wrapper {
    flex-direction: row;
  }

  .footer-title {
    flex: 2;
  }

  .footer-title h3 {
    font-size: 1.5rem;
  }

  .footer-information__item {
    gap: 0.75rem;
  }

  .footer-information__item h4 {
    font-size: 1.25rem;
  }

  .footer-title p,
  .footer-information__item ul li,
  .footer-copyright {
    font-size: 1rem;
  }

  .footer-information {
    flex: 3;
  }

  .footer-information__item ul {
    gap: 0.5rem;
  }

  /* end footer */

  /* recipe detail */
  .recipe-ingredients {
    max-width: 45vw;
  }
  .recipe-detail-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    row-gap: 0.5rem;
  }

  .recipe__item-image {
    border-radius: 0.75rem;
    order: -1;
    grid-row: 1/3;
  }

  .recipe-detail-text h2 {
    font-size: 1.75rem;
  }

  .recipe p {
    font-size: 1rem;
  }

  .recipe-ingredients h3,
  .recipe-steps h3 {
    font-size: 1.5rem;
  }

  .recipe-ingredients__info ul li,
  .recipe-steps__info ol li {
    font-size: 1rem;
  }

  .recipe-steps__info ol li {
    padding-left: 40px;
  }

  .recipe-steps__info ol li::before {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    padding: 3px 8px;
  }

  .ingredients-steps-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  .recipe-steps {
    flex: 1;
  }

  .recipe-ingredients {
    padding-right: 1rem;
    border-right: 2px solid #0f0f0f;
  }

  /* end recipe detail  */

  /* like button */
  .like {
    right: 2rem;
  }

  /* end like button */

  /* article detail */
  .article-detail {
    gap: 1.5rem;
  }

  .article-detail-text {
    gap: 0.75rem;
  }

  .article-detail-text h2 {
    font-size: 1.75rem;
  }
  .article-detail-text p {
    font-size: 1rem;
  }

  .article-detail-image {
    border-radius: 0.75rem;
  }
  /* end article detail */
}

/* desktop */

@media screen and (min-width: 1024px) {
  /* AppBar */

  .app-bar {
    padding: 1rem 4rem;
  }
  /* End AppBar */

  /*main content  */

  section {
    margin: 1.5rem 4rem;
  }
  /* hero */
  .hero {
    margin: 1.25rem 1.25rem 3.5rem 1.25rem;
  }

  .hero-container {
    padding-top: 7rem;
    padding-bottom: 8rem;
    border-radius: 1rem;
  }
  .hero-text {
    gap: 1rem;
    max-width: 26rem;
  }
  .hero-text h1 {
    font-size: 2.75rem;
    line-height: 3.125rem;
  }

  .hero-text p {
    font-size: 1.25rem;
  }
  /* end appbar */

  /* category */
  .category-container {
    margin: 1.5rem 0;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
  }

  /* end category */

  /* new recipes */
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  /* end new recipes */

  /* artikel */
  .article-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  /* end artikel */

  /* about-us */
  .about-us {
    flex-direction: row-reverse;
  }

  .about-us-text {
    flex: 2;
  }

  .about-us-galery {
    flex: 3;
  }

  /* end about-us */

  /* end main content */

  /* footer */
  .footer-container {
    padding: 2rem 4rem 2rem 4rem;
  }

  /* end footer */

  /* like button */
  .like {
    right: 4rem;
  }

  /* end like button */
}

@media screen and (min-width: 1280px) {
  main {
    width: 1280px;
    margin: auto;
  }
}
