@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'raleway', sans-serif;
}

header {
  width: 100%;
}

p {
  font-size: 0.875rem;
  line-height: 150%;
}

body {
  background-color: #ededed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Skip to content */

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  padding: 1em;
  z-index: 100;
  text-decoration: none;
  font-weight: 500;
}
.skip-link:focus {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: none;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

/* End Skip to content */

/*
  AppBar
*/

.app-bar {
  max-width: 1280px;
  margin: auto;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.app-bar__brand {
  z-index: 20;
}

.app-bar__brand h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar__menu button {
  background-color: transparent;
  border: none;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.6rem 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  transition: all 0.6s;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.hamburger-icon:active .hamburger-line {
  background: #ededed;
  transition: all 0.1s;
}

.hamburger-line {
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #000;
  transition: all 0.5s;
  border-radius: 1rem;
}

.app-bar__navigation {
  position: absolute;
  top: -100%;
  left: 0;
  padding: 5rem 0;
  width: 100vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}

.app-bar__navigation ul {
  padding: 3.5rem 0;
  flex-direction: column;
  display: flex;
  min-width: 50vw;
  margin: 0 auto;
  gap: 1.25rem;
}

.app-bar__navigation ul li {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: 0.6s;
}

.app-bar__navigation ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: #4a4a4a;
}

.app-bar__navigation ul li a:hover {
  color: #000;
}

.app-bar__navigation.open {
  top: 0;
  transition: all 0.5\s;
}

.app-bar__navigation.open ul li {
  opacity: 1;
  transform: translateY(0);
}

/*
  End AppBar
*/

/* Main content */

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3rem;
  width: auto;
}

section {
  margin: 1rem 1.5rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.page-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.page-text p {
  text-align: start;
}

.button-container {
  display: flex;
  align-items: center;
  max-height: 2.5rem;
  overflow: hidden;
  background-color: #0f0f0f;
  border-radius: 0.5rem;
}

.button-container .button {
  text-decoration: none;
  text-align: center;
  flex: 1;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.875rem 2rem;
  border: none;
  background-color: transparent;
}

.button-back-container {
  display: flex;
  align-items: center;
  max-height: 1rem;
  overflow: hidden;
}

.button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.875rem 0;
  border: none;
  background-color: transparent;
}
.button-back i {
  font-size: 1rem;
}

.search {
  flex: 1;
}

.search-and-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-container {
  display: flex;
  align-items: center;
  max-height: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #0f0f0f;
  overflow: hidden;
}

.filter {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.8rem 0.5rem;
  background-color: #0f0f0f;
  border: none;
}

.filter:focus {
  outline: none;
}

.filter:focus:not(:focus-visible) {
  outline: none;
}

/* hero */
.hero {
  margin: 0.75rem 0.75rem 4.5rem 0.75rem;
}
.hero-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
  background-image: linear-gradient(
      360deg,
      #111 9.48%,
      rgba(37, 37, 37, 0.69) 50.1%,
      rgba(30, 30, 30, 0.18) 100%
    ),
    url(../public/images/heros/hero-image-small.jpg);
  background-size: cover;
  padding: 4rem 1.5rem 6rem 1.5rem;
}

.hero-text {
  max-width: 268px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 0.25rem;
}

.hero-text h1,
p {
  text-align: center;
}

.hero-text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.hero-text p {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 500;
}

.search-container {
  width: 20rem;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 40%);
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: #fff;
  border-radius: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
}

.search-container label {
  font-size: 0.875rem;
  font-weight: 600;
}

.search-input {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  max-height: 2.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #0f0f0f;
}

.search-input input {
  flex: 1;
  font-size: 0.875rem;
  line-height: 150%;
  padding: 0.8rem 2rem;
  color: rgba(146, 146, 146, 1);
  border: none;
}

.search-input i {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  padding-left: 0.75rem;
  color: rgba(146, 146, 146, 1);
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* end hero */

/* category */
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category-container {
  margin: 1.25rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}

.category__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
}
.category__item-image {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #4a4a4a;
  overflow: hidden;
}

.category__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category__item-title {
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 125%;
}
/* end category */

/* new recipes */
.new-recipes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recipes-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.new-recipes__item {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.new-recipes__item-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background-color: #4a4a4a;
  flex: 2;
  overflow: hidden;
}

.new-recipes__item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.new-recipes__item-text {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex: 3;
  color: #000;
}

.new-recipes__item-text h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 125%;
}

.recipes-info {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.recipes-info__item i {
  font-size: 1rem;
}

.recipes-info__item p {
  font-size: 0.75rem;
}

.recipes-info__item {
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.5rem;
  border: 2px solid #0f0f0f;
  border-radius: 0.5rem;
  max-height: 2.5rem;
}
/* end new recipes */

/* article */
.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__item {
  min-width: 20.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.article__item-image {
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  overflow: hidden;
}

.article__item-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__item-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    #131212 9.48%,
    rgba(33, 33, 33, 0.69) 36.04%,
    rgba(217, 217, 217, 0.01) 90.73%,
    rgba(217, 217, 217, 0) 100%
  );
  z-index: 2;
  border-radius: 0.5rem;
  overflow: hidden;
}

.article__item-text {
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: #fff;
}

.article__item-text h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 125%;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* end article */

/* about-us */

.about-us {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-us p {
  font-weight: 500;
  text-align: start;
}

.about-us-galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-us-galery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.about-us-galery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-galery__item h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.375rem;
}

.about-us-galery__item p {
  text-align: center;
  font-family: 'raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.about-us-galery__item:nth-of-type(1) img {
  transform: scale(1.2);
}

/* end about-us */

/* end main content */

/* footer */
footer {
  background-color: #0f0f0f;
  margin-top: 3rem;
}

.footer-container {
  max-width: 1280px;
  margin: auto;

  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  color: #fff;
  gap: 2rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-title {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.footer-title h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.footer-title p {
  text-align: start;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.footer-information {
  display: flex;
  justify-content: space-between;
}
.footer-information__item {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.footer-information__item h4 {
  font-size: 1rem;
  font-weight: 600;
}
.footer-information__item ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.footer-information__item ul li {
  list-style: none;
  font-size: 0.875rem;
}
.footer-information__item ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: start;
}

/* pagination */
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}

.pagination-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 100%;
  aspect-ratio: 1/1;
  height: 2rem;
  border-radius: 0.25rem;
}

.pagination-container ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

/* end pagination */

/*
  Detail recipe
*/

.recipe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe__item-image {
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 5/3;
}

.recipe__item-image img {
  height: 100%;
  object-fit: cover;
}

.recipe-detail-text {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: #000000;
  text-align: start;
}

.recipe-detail-text h2 {
  font-size: 1.25rem;
  font-weight: 700;
}
.recipe p {
  text-align: start;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.recipe-ingredients,
.recipe-steps {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.recipe-ingredients h3,
.recipe-steps h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.recipe-ingredients__info ul {
  margin-left: 0.5rem;
  list-style-position: inside;
}

.recipe-ingredients__info ul li,
.recipe-steps__info ol li {
  font-size: 0.875rem;
  line-height: 150%;
}

.recipe-steps__info ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recipe-steps__info ol li {
  counter-increment: step-counter;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 35px;
}

.recipe-steps__info ol li::before {
  position: absolute;
  left: 0;
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 1.125rem;
  color: #000;
  font-weight: bold;
  padding: 3px 8px;
}

.recipe-detail-wrapper {
  display: grid;
  gap: 1rem;
}

.ingredients-steps-wrapper {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
  flex-direction: column;
}
/*
   Like
*/

#likeButtonContainer {
  position: absolute;
}

.like {
  font-size: 1.5rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 50%;
  width: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.like.liked {
  color: #ff0000;

